<ng-container *ngIf="course">

  <!-- <div *ngFor="let pair of course | keyvalue">
    {{ pair.key }}
    {{ pair.value }}
  </div> -->
  
  <div 
    class="course-card" 
    #container 
    [ngClass]="getCourseCardClasses()"
    [ngStyle]="getCourseCardStyles()"
  >

    <ng-content></ng-content>

    <ng-content 
      select="div" 
    ></ng-content>
  
    <div class="course-title"> 
        {{ (cardIndex + 1) + '. ' + course.description | titlecase }}
  
    </div>
  
    <ng-container *ngTemplateOutlet="course.iconUrl ? withImage : noImageTemplate; context: { desc: course.description.toUpperCase() }"></ng-container>

    <ng-template #withImage>     <!-- select=".class-name" -->
      <ng-content select="course-image"></ng-content>
    </ng-template>

    <noImageTemplate></noImageTemplate>


    <div class="course-description">
      Edit Title: <input #courseTitle [value]="course.description"
                         (keyup)="onTitleChanged(courseTitle.value)">
    </div>
    <div class="course-category" [ngSwitch]="course.category">
      <div class="category">
        <ng-container *ngSwitchCase="'BEGINNER'">
          beginar
        </ng-container>
        <ng-container *ngSwitchCase="'INTERMEDIATE'">
          inter
        </ng-container>
        <ng-container *ngSwitchCase="'ADVANCED'">
          edvensd
        </ng-container>
        <ng-container *ngSwitchDefault>
          any
        </ng-container>
      </div>
    </div>
    <button (click)="onSaveClicked(courseTitle.value)">Save Course</button>
  </div>
</ng-container>  
