<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="salmon-theme">

    <div class="course-card">
        TEST
    </div>
    <div class="courses" *ngIf="courses[0] as course">
        <course-card 
            #highlighter="hlDir"
            highlighted
            (toggleHighlight)="onToggle($event)"
            (courseSelected)="onCourseSelected($event)"
            [course]="course"
          >
    
            <course-image 
                *ngxUnless="false"
                [src]="course.iconUrl" 
                (click)="highlighter.toggle()"
            ></course-image>
    
            <div class="course-description">
                {{ course.longDescription }}
            </div>
    
        </course-card>
    
    </div>
    equals to (expanded)
    <ng-template [ngIf]="courses[0]" let-course>
        <div class="courses">
            <course-card 
                #highlighter="hlDir"
                highlighted
                (toggleHighlight)="onToggle($event)"
                (courseSelected)="onCourseSelected($event)"
                [course]="course"
            >
    
                <course-image 
                    *ngxUnless="false"
                    [src]="course.iconUrl" 
                    (click)="highlighter.toggle()"
                ></course-image>
    
    
                <div class="course-description">
                    {{ course.longDescription }}
                </div>
    
            </course-card>
    
        </div>
    </ng-template>
    
    
    <div *ngIf="true">
        omer
    </div>
    equals to (expanded)
    <ng-template [ngIf]="true">
        <div>omer</div>
    </ng-template>
</div>    
